.chart_title {
  text-align: center;
  font-size: 48px;
  padding-top: 20px;
  padding-bottom: 32px;
}

#chartdiv {
  min-width: 700px;
  min-height: 500px;
}

@media screen and (max-width: 780px) { 
  #chartdiv {
    min-width: 100%;
    min-height: 100%;
  }
}